body {
  --dot-bg: #000000;
  --dot-color: #848282;
  --dot-size: 0.9px;
  --dot-space: 20px;
  background: none;
}

body::before {
  content: none;
  animation: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
}

.rninput {
  background-color: #383838;
  border: 1ex solid none;
  border-top-width: 1.7em;
  margin: 0;
  padding: 0;
  color: #e3e3e3;
  word-wrap: break-word;
  outline: 7px solid #454545e0;
  height: 30px;
  font-size: 17px;
  text-align: center;
  transition: all 1s;
  max-width: 190px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  z-index: 4; /* Ensuring the input is above the background layers */
}

.rninput:hover {
  border-top-width: 0.2em;
  background-color: #000000;
}

.rninput:focus {
  border-top-width: 0.2em;
  background-color: #181818;
  color: whitesmoke;
}

* {
margin: 0;
padding: 0;
}

@keyframes move-twink-back {
from {background-position:0 0;}
to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
from {background-position:0 0;}
to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.stars {
background:#000 url(stars.png) repeat top center;
z-index:0;
}

.twinkling {
background:transparent url(twinkling.png) repeat top center;
z-index:1;
animation:move-twink-back 200s linear infinite;
}

.clouds {
background:transparent url(clouds.png) repeat top center;
z-index:2;
opacity: .4;
animation:move-clouds-back 200s linear infinite;
}

.title h2{
font-size: 36px;
font-family: 'Lato', sans-serif;
margin-left: auto;
margin-right: auto;
text-align: center;
color: #ffffff;
background: -webkit-linear-gradient(#d4d4d4, #828282);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
display: block;
position: relative;
z-index: 3;
animation: fadeIn 2s ease-in-out;
}

.showontop{
  position: relative;
}

.fadeanim{
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fill {
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 3px 25px 3px;
  outline: 0;
  border: 1px solid rgb(181, 181, 181);
  cursor: pointer;
  position: relative;
  margin-left: 20px;
  color: rgb(214, 214, 214);
  top: 8.7px;
}

.fill::after{
  content: "";
  background-color: #8e45e6;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 4px;
  left: 4px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}
